{% include 'includes/header.html.twig' %}
Infos : <br>
Nom : {{ app.user.lastname }} <br>
Prénom : {{ app.user.firstname }} <br>
E-mail : {{ app.user.email }} <br>
Ville : {{ app.user.city }} <br>
Code postal : {{ app.user.zipcode }} <br>
Numéro de téléphone : 0{{ app.user.phone }}<br>
<a href="{{ path('modifyProfile') }}"><button class="btn btn-primary">Modifier le profil</button></a>
<br/>
<hr>
<br/>
<div>
    <h2>Mes annonces</h2>
    {% if clientPossessions.count != 0 %}
        <div class="flexboxPossessionProfile">
        {% for possession in clientPossessions %}
            <div class="possessionProfile">
                <a href="{{ path('possession_show', {'id': possession.id}) }}"><img class="imgSearchPossession" src="{{ asset(vich_uploader_asset(possession.possessionImage.first, 'imageFile', 'App\\Entity\\PossessionImage')) }}">
                <p>{{ possession.title }}</p></a>
                <button><a href="{{ path('proposition_showPropositions', {"idPossession": possession.id})}}">Voir les offres pour cette annonce</a></button>
            </div>
            <br/>
        {% endfor %}
        </div>
    {% else %}
        <p>Vous n'avez publie aucune annonce</p>
    {% endif %}
</div>

<div>
    <h2>Mes Propositions d'achat</h2>

    {% if propositions.count > 0 %}
        {% for proposition in propositions %}
            {% if proposition.state == "PROPOSITION" %}
                <div class="">
                    <p>{{ proposition.possession.title }} : {{ proposition.possession.sellingPrice }} euros.</p>
                    <p>Prix sur l'annonce : {{ proposition.possession.sellingPrice }}</p>
                    <p>Votre proposition actuelle : {{ proposition.price }}
                    <p>Etat : En attente d'une reponse du proprietaire...</p>
                </div>

            {% elseif proposition.state == "COUNTERPROPOSITION" %}
                <div class="myPropositionsDiv">
                    <p>{{ proposition.possession.title }} : {{ proposition.getPrice() }} euros.</p>
                    <p>Prix sur l'annonce : {{ proposition.possession.sellingPrice }}</p>
                    <p>Proposition actuelle : {{ proposition.price }} | Proposition originale : {{ proposition.oldPrice }}</p>
                    <button><a href="{{ path('proposition_accept', {'id': proposition.id}) }}">Accepter cette offre</a></button>
                    <button><a href="{{ path('proposition_deny', {'id': proposition.id}) }}">Refuser</a></button>
                </div>
            {% elseif proposition.state == "ACCEPTED" %}
                <div class="myPropositionsDiv">
                    <p>{{ proposition.possession.title }} : {{ proposition.getPrice() }} euros.</p>
                    <p>Prix sur l'annonce : {{ proposition.possession.sellingPrice }}</p>
                    <p>Proposition Acceptee : {{ proposition.price }}</p>
                </div>
            {% elseif proposition.state == "DENIED" %}
                <div class="myPropositionsDiv">
                    <p>{{ proposition.possession.title }} : {{ proposition.getPrice() }} euros.</p>
                    <p>Prix sur l'annonce : {{ proposition.possession.sellingPrice }}</p>
                    <p>Proposition Refusee : {{ proposition.price }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Vous n'avez fait aucune offre !</p>
    {% endif %}
</div>

<div>
    {% if notifications > 0 %}
        <h2>Favoris - {{ notifications }} notifications</h2>
    {% else %}
        <h2>Favoris</h2>
    {% endif %}

    {% if favorites.count != 0 %}
        <div class="flexboxPossessionProfile">
     {% for favorite in favorites %}
           <div class="possessionProfile">
               <a href="{{ path('possession_show', {'id': favorite.possession.id} )}}"><img class="imgSearchPossession" src="{{ asset(vich_uploader_asset(favorite.possession.possessionImage.first, 'imageFile', 'App\\Entity\\PossessionImage')) }}">
               {% if favorite.hasNotification == true %}
                   <p>{{ favorite.possession.title }} - <span> l'annonce a été modifiée !</span></p>
               {% else %}
                   <p>{{ favorite.possession.title }}</p>
               {% endif %}
                </a>
           </div>
    {% endfor %}
        </div>
    {% endif %}
</div>
{% include 'includes/footer.html.twig' %}
</html>
