{% include 'includes/header.html.twig' %}
<body>
Infos : <br>
Nom : {{ app.user.lastname }} <br>
Prénom : {{ app.user.firstname }} <br>
E-mail : {{ app.user.email }} <br>
Ville : {{ app.user.city }} <br>
Code postal : {{ app.user.zipcode }} <br>
Numéro de téléphone : 0{{ app.user.phone }}<br>

<br/>
<hr>
<br/>
<div>
    <h2>Mes annonces</h2>
    {% if clientPossessions.count != 0 %}
        {% for possession in clientPossessions %}
            <div>
                <p><a href="{{ path('possession_show', {'id': possession.id}) }}">{{ possession.title }}</a></p>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <p>Vous n'avez publie aucune annonce</p>
    {% endif %}
</div>
<div>

    <h2>Favoris</h2>
    {% if favorites.count != 0 %}
     {% for favorite in favorites %}

           <div>
               <p><a href="{{ path('possession_show', {'id': favorite.possession.id} )}}">{{ favorite.possession.title }}</a></p>
           </div>
    {% endfor %}
    {% endif %}
</div>

<a href="{{ path('modifyProfile',{'idClient': client.id}) }}">Modifier le profil</a>
</body>
