{% include 'account/infosAccount.html.twig' %}
Infos : <br>
Nom : {{ app.user.lastname }} <br>
Prénom : {{ app.user.firstname }} <br>
E-mail : {{ app.user.email }} <br>
Ville : {{ app.user.city }} <br>
Code postal : {{ app.user.zipcode }} <br>
Numéro de téléphone : 0{{ app.user.phone }}<br>
{% if client.agent %}
Agence : {{ client.agent.agency.name }}<br>
Agent : {{ client.agent.user.firstname }}<br>
{% endif %}
<a href="{{ path('modifyProfile',{'idClient': client.id}) }}">Modifier le profil</a>