{% include 'includes/header.html.twig' %}
<div class="imageContainerPossession">
    <div class="FlashMessageSuccess">
        {% for label, messages in app.flashes(['ProfileModificationSuccess',
            'DenyOfferSuccess',
            'AcceptOfferSucces',
            'CounterPropositionSuccess',]) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="bg"></div>
    <h1 class="titleProfile">Mon profil</h1>
    <hr>
    <div class="profileInfos profileContainer">
        <h2>Infos : </h2><br>
        Nom : {{ app.user.lastname }} <br>
        Prénom : {{ app.user.firstname }} <br>
        E-mail : {{ app.user.email }} <br>
        Ville : {{ app.user.city }} <br>
        Code postal : {{ app.user.zipcode }} <br>
        Numéro de téléphone : 0{{ app.user.phone }}<br>
        Numéro de parrainage : {{ app.user.sponsorshipCode }}<br>
        <a href="{{ path('modifyProfile') }}"><button class="btn btn-primary">Modifier le profil</button></a>
    </div>
<br/>
<hr>
<br/>
<div class="profileContainer">
    <h2>Mes annonces</h2>
    {% if clientPossessions.count != 0 %}
        <div class="flexboxPossessionProfile">
        {% for possession in clientPossessions %}
            <div class="possessionProfile">
                <a href="{{ path('possession_show', {'id': possession.id}) }}"><img class="imgSearchPossession" src="{{ asset(vich_uploader_asset(possession.possessionImage.first, 'imageFile', 'App\\Entity\\PossessionImage')) }}">
                <p>{{ possession.title }}</p></a>
                <a href="{{ path('proposition_showPropositions', {"idPossession": possession.id})}}"><button class="btn btn-primary">Voir les offres pour cette annonce</button></a>
            </div>
            <br/>
        {% endfor %}
        </div>
    {% else %}
        <p class="bigText">Vous n'avez publie aucune annonce</p>
    {% endif %}
</div>
<hr>
<div class="profileContainer">
    <h2>Mes Propositions d'achat</h2>

    {% if propositions is not empty %}
        <div class="flexboxPropositionProfile">
        {% for proposition in propositions %}
                {% if proposition.state == "PROPOSITION" %}
                    <div class="myPropositionsDiv">
                        <p>{{ proposition.possession.title }} - {{ proposition.possession.city }}</p>
                        <p>Prix sur l'annonce : {{ proposition.possession.sellingPrice }}</p>
                        <p>Votre proposition actuelle : {{ proposition.price }}
                        <p>Etat : <span class="waiting">En attente d'une réponse du proprietaire...</span> </p>
                    </div>

                {% elseif proposition.state == "COUNTERPROPOSITION" %}
                    <div class="myPropositionsDiv">
                        <p>{{ proposition.possession.title }} - {{ proposition.possession.city }}</p>
                        <p>Prix sur l'annonce : {{ proposition.possession.sellingPrice }}</p>
                        <p>Proposition actuelle : {{ proposition.price }} | Proposition originale : {{ proposition.oldPrice }}</p>
                        <a href="{{ path('proposition_accept', {'id': proposition.id}) }}"><button class="btn btn-success">Accepter cette offre</button></a>
                        <a href="{{ path('proposition_deny', {'id': proposition.id}) }}"><button class="btn btn-warning">Refuser</button></a>
                    </div>
                {% elseif proposition.state == "ACCEPTED" %}
                    <div class="myPropositionsDiv">
                        <p>{{ proposition.possession.title }} - {{ proposition.possession.city }}</p>
                        <p>Prix sur l'annonce : {{ proposition.possession.sellingPrice }}</p>
                        <p><span class="success">Proposition Acceptée : {{ proposition.price }}</span></p>
                        {#<button class="btn"><a href="{{ path('proposition_hide', {'propositionID': proposition.id}) }}">X</a></button>#}
                        <a href="{{ path('proposition_hide', {'propositionID': proposition.id}) }}"><button class="btn btn-danger">X</button></a>
                    </div>
                {% elseif proposition.state == "DENIED" %}
                    <div class="myPropositionsDiv">
                        <p>{{ proposition.possession.title }} - {{ proposition.possession.city }}</p>
                        <p>Prix sur l'annonce : {{ proposition.possession.sellingPrice }}</p>
                        <p><span class="failed">Proposition Refusée : {{ proposition.price }}</span></p>
                        <a href="{{ path('proposition_hide', {'propositionID': proposition.id}) }}"><button class="btn btn-danger">X</button></a>
                    </div>
                {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <p class="bigText">Vous n'avez fait aucune offre !</p>
    {% endif %}
</div>
<hr>
<div class="profileContainer">
    {% if notifications > 0 %}
        <h2>Favoris - {{ notifications }} notifications</h2>
    {% else %}
        <h2>Favoris</h2>
    {% endif %}
    {% if favorites.count != 0 %}
        <div class="flexboxPossessionProfile">
     {% for favorite in favorites %}
           <div class="possessionProfile">
               <a href="{{ path('possession_show', {'id': favorite.possession.id} )}}"><img class="imgSearchPossession" src="{{ asset(vich_uploader_asset(favorite.possession.possessionImage.first, 'imageFile', 'App\\Entity\\PossessionImage')) }}">
               {% if favorite.hasNotification == true %}
                   <p>{{ favorite.possession.title }} - <span> l'annonce a été modifiée !</span></p>
               {% else %}
                   <p>{{ favorite.possession.title }}</p>
               {% endif %}
                </a>
           </div>
    {% endfor %}
        </div>
    {% else %}
        <p class="bigText">Vous n'avez pas de favori</p>
    {% endif %}
</div>
<hr>
</div>
{% include 'includes/footer.html.twig' %}
</html>
