{% include 'includes/header.html.twig' %}
<div class="titleIndex">
    <h1>ImmoConceptPlus</h1>
    <h2>Une idée, un concept</h2>
</div>
{% block javascripts %}{% endblock %}
<div class="principale">
    <div class="form HomeSearchForm">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
    <h2>Dernières annonces</h2><br>
    {% if possessions %}
    {% for possession in possessions %}
        <a href="{{ path('possession_show', {'id': possession.id}) }}"><div class="lastOffer">
        {% if possession.possessionImage.first %}
        <img class="imgSearchPossession" src="{{ asset(vich_uploader_asset(possession.possessionImage.first, 'imageFile', 'App\\Entity\\PossessionImage')) }}" alt="possessionImage"><br>
        {% endif %}
        {{ possession.title }} - {{ possession.city }}
        </div></a>
    {% endfor %}
    {% endif %}
</div>
{% include 'includes/footer.html.twig' %}
</html>
