<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('css/offer_and_search.css') }}" rel="stylesheet">
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous">

        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">{% endblock %}
</head>
<body>
<header>
{% block javascripts %}{% endblock %}
<ul class="navbartest">
    <li><a href="{{ path('index') }}">Accueil</a></li>
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('backoffice') }}">Backoffice</a></li>
    {% endif %}
    {% if is_granted('ROLE_AGENT') and is_granted('ROLE_ADMIN') == false %}
        <li><a href="{{ path('possession_manage')}}">Contrôler les annonces</a></li>
    {% endif %}
    {% if is_granted('ROLE_AGENT') and is_granted('ROLE_ADMIN') == false %}
    <li><a href="{{ path('possession_app_possession_createpossessionbyagent') }}">Créer une annonce</a></li>
    {% endif %}
    <li><a href="{{ path('possession_list', {'city': ' '}) }}">Recherche</a> </li>
    {% if app.user and is_granted('ROLE_AGENT') == false %}
        {% if app.user.notifications <= 0 %}
            <li><a href="{{ path('account') }}">Profil</a></li>
        {% else %}
            <li><a href="{{ path('account') }}">Profil ({{ app.user.notifications }})</a></li>
        {% endif %}
        <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
    {% elseif app.user and is_granted('ROLE_AGENT') == true %}
        <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
    {% else %}
        <li><a href="{{ path('app_login') }}">Connexion</a></li>
        <li><a href="{{ path('user_registration') }}">Inscription</a></li>
    {% endif %}
</ul>
</header>

