<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ form_start(form) }}
            {{ form_row(form.city) }}
            {{ form_row(form.type_id) }}
            {{ form_row(form.price) }}
            {{ form_end(form) }}
                {% if possessions %}
                    {% for possession in possessions %}
                            <div>
                                <a href="{{ path('possession_show',{'id': possession.id}) }}"> <p>{{ possession.title }} - {{ possession.type.name }}</p></a>
                                <p>Description : {{ possession.description }}</p>
                                <p>{{ possession.floorNumber }}</p>
                                <p>{{ possession.sellingPrice }}</p>
                            </div>
                            <br/>
                            <br/>
                    {% endfor %}
                {% else %}
                    <div>
                        <p>Aucune annonce ne correspond a vos criteres de recherche</p>
                    </div>
                {% endif %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
