{% include 'includes/header.html.twig' %}
        {% block body %}
            <div class="imageContainer">
            <div class="title">
            <h1>ImmoConceptPlus<br>Une maison, une idée un concept</h1>
            </div>
            <div class="searchContainer">
                <div class="searchTitle">
                 <h2>Rechercher</h2>
                </div>
                <form class="formSearch">
                    <div class="formSearchTitle">
                        <h3>Filtres</h3>
                    </div>
                    {{ form_start(form) }}
                    <span class="formCity">{{ form_row(form.city) }}</span><br>
                    {{ form_row(form.type) }}<br><br><br><br>
                    {{ form_label(form.price) }}<span id="output"></span><br>
                    {{ form_widget(form.price) }}
                    <div class="submitSearch">
                    {{ form_row(form.Valider) }}
                    </div>
                    {{ form_end(form) }}
                </form>
                {% if possessions %}
                    <div class="flexbox">
                    {% for possession in possessions %}
                            <div class="searchResults">
                                <a href="{{ path('possession_show',{'id': possession.id}) }}">
                            <div class="contentResult">
                                <img class="imgSearchPossession" src="{{ asset(vich_uploader_asset(possession.possessionImage.first, 'imageFile', 'App\\Entity\\PossessionImage')) }}" alt="possessionImage">
                                <p>{{ possession.title }} - {{ possession.type.name }}</p>
                                <p>{{ possession.city }}</p>
                                <p>{{ possession.sellingPrice }} €</p></div></a>
                            </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="noResults">
                        <p>Aucune annonce ne correspond à vos critères de recherche</p>
                    </div>
                {% endif %}
                <div class="navigation">
                    {% if possessions %}
                    {{ knp_pagination_render(possessions) }}
                    {% endif %}
                </div>
            </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script>
                var slider = document.getElementById("search_form_price");
                var output = document.getElementById("output");
                output.innerHTML = " < "+ slider.value + " €";
                slider.oninput = function () {
                    output.innerHTML = " < "+this.value + " €";
                }
            </script>
        {% endblock %}
{% include 'includes/footer.html.twig' %}
</html>
