{% include 'includes/header.html.twig' %}
<body>
{% for possession in possessions %}
    <a href="{{ path('possession_show',{'id': possession.id}) }}">{{ possession.title }}</a> - Vendeur : {{ possession.seller.user.firstname }} {{ possession.seller.user.lastname }}<a href="{{ path('possession_modify', {'id': possession.id}) }}"><button class="btn btn-primary">Modifier</button></a><br><br>
{% endfor %}
</body>
</html>
