{% include 'includes/header.html.twig' %}
        {% block body %}
            <div class="bg bgdarker bgExpand"></div>
        <div class="title titleShowPossession">
            <h1>{{ possession.title }}</h1>
        </div>
                <div class="divImgPossession">
                    {% if possession.possessionImage.count > 1 %}
                    <div class="arrowRight">
                        <img id="carouselArrowRight" src="{{ asset('images/design/arrow_left.png') }}" alt="arrow_right">
                    </div>
                    <div class="littleImgLeftDiv">
                        <img id="littleImgLeft" src="" alt="img_left">
                    </div>
                    <div class="imgDiv">
                        <div id="numberOfImg"></div>
                        <img id="imgPossession" src="" alt="{{ possession.possessionImage.first.imageName }}" /><br>
                        <div id="imgDescription"></div>
                    </div>
                    <div class="littleImgRightDiv">
                        <img id="littleImgRight" src="" alt="img_right">
                    </div>
                    <div class="arrowLeft">
                        <img id="carouselArrowLeft" src="{{ asset('images/design/arrow_left.png') }}" alt="arrow_left">
                    </div>
                   {% else %}
                    <div class="imgDiv">
                        <div id="numberOfImg"></div>
                        <img id="imgPossession" src="{{ asset(vich_uploader_asset(possession.possessionImage.first, 'imageFile', 'App\\Entity\\PossessionImage')) }}" alt="{{ possession.possessionImage.first.imageName }}" /><br>
                        <div id="imgDescription"></div>
                    </div>
                    {% endif %}
                </div>
                <div class="detailsPossessionContainer">

                    {% if possession.type.name is same as ("Terrain") %}
                    {% else %}
                    <div class="detailsPossession">
                        {{ possession.floorNumber }} étages
                    </div>
                    <div class="detailsPossession">
                        {{ possession.roomNumber }} pièces
                    </div>
                    {% endif %}
                    <div class="detailsPossession">
                        {{ possession.surface }} M²
                    </div>
                    {% if app.user and is_granted('ROLE_AGENT') == false and is_granted('ROLE_CLIENT') == true and isFavorite is same as (false) %}
                    <a href="{{ path('possession_addToFavorites', {'id': possession.id}) }}">
                        <button class="btn btn-success favorite">
                            Ajouter aux favoris
                        </button>
                    </a>
                    <button class="btn btn-primary btnProposition"><a href="{{ path('proposition_create', {'idPossession': possession.id}) }}">Faire une proposition</a></button>
                    {% elseif app.user and is_granted('ROLE_AGENT') == false and is_granted('ROLE_CLIENT') == true and isFavorite is same as (true) %}
                        <a href="{{ path('possession_removeFromFavorites', {'id': possession.id}) }}">
                         <div class="favorite">
                            Favori
                         </div>
                        </a>
                        <a href="{{ path('proposition_create', {'idPossession': possession.id}) }}"><button class="btn btn-primary btnProposition">Faire une proposition</button></a>
                    {% endif %}
                </div>
            <div class="priceAndStreet">
                <h2>{{ possession.type.name }}</h2>
                        <p class="streetPossession">Prix : {{ possession.sellingPrice }}€</p>
                        <p class="streetPossession">Adresse : {{ possession.street }}</p>
            </div>
            <h2>Carte</h2>
            <div id="map"></div>
            <div class="infosPossession">
                <div class="infosPossessionDescription">
                    <h3>Description</h3>
                    <p>{{ possession.description }}</p>
                </div>
                <div class="infosPossessionPlus">
                <h3>Les plus</h3>
                <ul>
                    {% if possession.orientation and possession.orientation is same as ("Sud") or possession.orientation is same as ("sud") %}
                    <li>
                        <img src="{{ asset('images/design/sun.png') }}" alt="soleil" class="icon"> Orientation {{ possession.orientation }}
                    </li>
                    {% endif %}
                    {% for ownOutbuilding in possOwnOutbuilding %}
                        {% if ownOutbuilding.outBuilding.name is same as ("Terrasse") %}
                            <li><img src="{{ asset('images/design/terrasse.png') }}" alt="terrasse" class="icon"> {{ ownOutbuilding.outbuilding.name }} ({{ ownOutbuilding.surface }}m²)</li>
                        {% elseif ownOutbuilding.outBuilding.name is same as ("Cave") %}
                            <li><img src="{{ asset('images/design/basement.png') }}" alt="sous-sol" class="icon"> {{ ownOutbuilding.outbuilding.name }} ({{ ownOutbuilding.surface }}m²)</li>
                        {% elseif ownOutbuilding.outBuilding.name is same as ("Garage") %}
                            <li><img src="{{ asset('images/design/garage.png') }}" alt="garage" class="icon"> {{ ownOutbuilding.outbuilding.name }} ({{ ownOutbuilding.surface }}m²)</li>
                        {% elseif ownOutbuilding.outBuilding.name is same as ("Parking") %}
                            <li><img src="{{ asset('images/design/parking.svg') }}" alt="parking" class="icon"> {{ ownOutbuilding.outbuilding.name }} ({{ ownOutbuilding.surface }}m²)</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </div>
                <div class="infosPossessionGeneral">
                    <h3>Général</h3>
                    <ul>
                        <li><img src="{{ asset('images/design/superficie.png') }}" class="icon" alt="surface"> Surface de {{ possession.surface }} m²</li>
                        {% if possession.type.name is same as ("Terrain") %}
                        {% else %}
                        <li><img src="{{ asset('images/design/construction.png') }}" alt="construction" class="icon"> Construit en {{ possession.constructionDate }}</li>
                        <li><img src="{{ asset('images/design/surface.png') }}" alt="roomNumber" class="icon"> {{ possession.roomNumber }} pièces</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="agencyInfos">
                    <h3>Contacter l'agence</h3>
                    {{ agency.name }}<br>
                    <p>0{{ agency.phone }}</p>
                    <p>Adresse : {{ agency.street }}<br>
                    {{ agency.city }} - {{ agency.zipCode }}<br><br></p>
                </div>
            </div>
            <script>
                function initMap() {
                    var street = "{{ possession.street }}{{ possession.city }}";
                    const Http = new XMLHttpRequest();
                    const url='https://maps.googleapis.com/maps/api/geocode/json?address='+street+'&key=AIzaSyDhQd_OqySckHoHuLuvXkn0fPfNK8PzZ88';
                    var lat;
                    var lng;
                    Http.open("GET", url);
                    Http.send();
                    Http.onreadystatechange = (e) => {
                        console.log(street);
                        var json = JSON.parse(Http.responseText);
                        lat = json.results[0].geometry.location.lat;
                        lng = json.results[0].geometry.location.lng;
                        // The location of Uluru
                        var center = {lat: lat, lng: lng};
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 14, center: center});
                        // The marker, positioned at Uluru
                        var marker = new google.maps.Marker({position: center, map: map});
                    };
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhQd_OqySckHoHuLuvXkn0fPfNK8PzZ88&callback=initMap"
                    async defer></script>
        {% endblock %}

        {% block myJavascript %}
            <script type="application/javascript">
                var arraysrc = [];
                var arraydesc = [];
                {% for image in images %}
                    arraysrc.push("{{ asset(vich_uploader_asset(image, 'imageFile', 'App\\Entity\\PossessionImage')) }}");
                    arraydesc.push("{{ image.description }}");
                {% endfor %}
                var arrowRight = document.getElementById("carouselArrowLeft");
                var arrowLeft = document.getElementById("carouselArrowRight");
                var img = document.getElementById("imgPossession");
                var imgleft = document.getElementById("littleImgLeft");
                var imgright = document.getElementById("littleImgRight");
                var desc = document.getElementById("imgDescription");
                var nbOfPhotos = document.getElementById("numberOfImg");
                var i = 0;
                imgleft.src = arraysrc[(arraysrc.length - 1)];
                imgright.src = arraysrc[i+1];
                img.src = arraysrc[i];
                desc.innerHTML = arraydesc[i];
                nbOfPhotos.innerHTML = (i+1)+"/"+arraysrc.length;

                arrowLeft.onclick = function () {
                    i = i-1;
                    if(arraysrc[i] === undefined){
                        i = arraysrc.length - 1;
                        imgleft.src = arraysrc[arraysrc.length-2];
                        imgright.src = arraysrc[0];
                    }
                    else if(arraysrc[i-1] === undefined){
                        imgleft.src = arraysrc[arraysrc.length-1];
                        imgright.src = arraysrc[i+1];
                    }
                    else{
                        imgleft.src = arraysrc[i-1];
                        imgright.src = arraysrc[i+1];
                    }
                    img.src = arraysrc[i];
                    desc.innerHTML = arraydesc[i];
                    nbOfPhotos.innerHTML = (i+1)+"/"+arraysrc.length;
                };
                arrowRight.onclick = function () {
                    i = i+1;
                    if(arraysrc[i] === undefined){
                        i = 0;
                        imgleft.src = arraysrc[arraysrc.length-1];
                        imgright.src = arraysrc[i+1];
                    }
                    else if(arraysrc[i+1] === undefined){
                        imgright.src = arraysrc[0];
                        imgleft.src = arraysrc[i-1];
                    }
                    else{
                        imgleft.src = arraysrc[i-1];
                        imgright.src = arraysrc[i+1];
                    }
                    img.src = arraysrc[i];
                    desc.innerHTML = arraydesc[i];
                    nbOfPhotos.innerHTML = (i+1)+"/"+arraysrc.length;
                };

            </script>
        {% endblock %}
{% include 'includes/footer.html.twig' %}
</html>
