<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Show Possession{% endblock %}</title>
        {% block stylesheets %}<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet"> {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="title">
            <h1>{{ possession.title }}</h1>
        </div>

                <div class="divImgPossession">
                    <img id="carouselArrowRight" src="{{ asset('images/design/arrow_right.png') }}" alt="arrow_right">
                    <img id="carouselArrowLeft" src="{{ asset('images/design/arrow_left.png') }}" alt="arrow_left">
                    <img id="imgPossession" src="" alt="{{ possession.possessionImage.first.imageName }}" /><br>
                    <span id="imgDescription"></span>
                </div>
                <div class="detailsPossessionContainer">
                    {{ possession.type.name }}<br>
                    <div class="detailsPossession">
                        {{ possession.floorNumber }} étages
                    </div>
                    <div class="detailsPossession">
                        {{ possession.roomNumber }} pièces
                    </div>
                    <div class="detailsPossession">
                        {{ possession.surface }} M²
                    </div>
                </div>
        {% for ownOutbuilding in possOwnOutbuilding %}
            <div>
                <p>Dependence : {{ ownOutbuilding.outbuilding.name }}</p>
                <p>Surface : {{ ownOutbuilding.surface }}</p>
                <p>Description : {{ ownOutbuilding.description }}</p>
            </div>
        {% endfor %}
        {% endblock %}

        {% block myJavascript %}
            <script type="application/javascript">
                var arraysrc = [];
                var arraydesc = [];
                {% for image in images %}
                    arraysrc.push("{{ asset(vich_uploader_asset(image, 'imageFile', 'App\\Entity\\PossessionImage')) }}");
                    arraydesc.push("{{ image.description }}");
                {% endfor %}
                var arrowLeft = document.getElementById("carouselArrowLeft");
                var arrowRight = document.getElementById("carouselArrowRight");
                var img = document.getElementById("imgPossession");
                var desc = document.getElementById("imgDescription");
                var i = 0;
                img.src = arraysrc[i];
                desc.innerHTML = arraydesc[i];
                arrowLeft.onclick = function () {
                    i = i+1;
                    img.src = arraysrc[i];
                    desc.innerHTML = arraydesc[i];
                };
                arrowRight.onclick = function () {
                    i = i-1;
                    img.src = arraysrc[i];
                    desc.innerHTML = arraydesc[i];
                };

            </script>
        {% endblock %}

    </body>
</html>
