<<<<<<< HEAD
{% include 'account/infosAccount.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Inscription</button>
=======
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Inscription</button>
>>>>>>> PossessionOutbuildingForm
{{ form_end(form) }}