<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Liste Agences{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% include 'account/infosAccount.html.twig' %}
<h1>Fiche des Agences : </h1>
Nombre d'agences : {{ ListAgency | length }}
<ul>
    {% for agency in ListAgency %}
        <li>{{ agency.name }} | {{ agency.city }}  <a href="{{ path('modifyAgency',{'idAgency' : agency.id })}}">Modifier</a><a href="{{ path('removeAgency',{'idAgency' : agency.id })}}">Supprimer</a></li>
    {% endfor %}
</ul>


</body>
</html>