{% include 'includes/header.html.twig' %}
<div class="imageContainer">
    <div class="bg bgdarker"></div>
    <div class="titleIndex"><h1>ImmoConceptPlus<br>Une maison, une idée, un concept</h1></div>
    <div class="container divhome">
        <div class="text-center">
            <h2>Le backoffice</h2>
        </div>
        <div class="row divdescription">
            <a href="{{ path('addAgency') }}" class="col-sm-4 divhomedescription">  <div >Ajouter une agence</div></a>
            <a href="{{ path('addAgencyDirector') }}" class="col-sm-4 divhomedescription"> <div >Ajouter un directeur d'agence</div></a>
            <a href="{{ path('addAgent') }}" class="col-sm-4 divhomedescription"> <div >Ajouter un agent</div></a>
            <a href="{{ path('addAdmin') }}"class="col-sm-4 divhomedescription"> <div >Ajouter un admin</div></a>
            <a href="{{ path('GetListAgency') }}" class="col-sm-4 divhomedescription">  <div >Liste agence</div></a>
            <a href="{{ path('GetListAgencyDirector') }}"class="col-sm-4 divhomedescription"><div>Liste directeur d'agence</div></a>
            <a href="{{ path('GetListAgent') }}" class="col-sm-4 divhomedescription"> <div >Liste agent</div></a>
            <a href="{{ path('GetListAdmin') }}"class="col-sm-4 divhomedescription"><div >Liste admin</div></a>
        </div>
    </div>
</div>
</body>
</html>
