{% include 'includes/header.html.twig' %}
    <h1>ImmoConceptPlus<br>Une maison, une idée, un concept</h1>
    <h2>Le backoffice</h2>

<div class="container testrouge">
    <div class="row">
  <div class="col-sm-4 testbleu"> <a href="{{ path('addAgency') }}">Ajouter une agence</a></div>
   <div class="col-sm-4 testbleu"> <a href="{{ path('addAgencyDirector')}}">Ajouter un directeur d'agence</a></div>
   <div class="col-sm-4 testbleu"> <a href="{{ path('addAgent')}}">Ajouter un agent</a></div>
   <div class="col-sm-4 testbleu"> <a href="{{ path('addAdmin') }}">Ajouter un admin</a></div>
   <div class="col-sm-4 testbleu"> <a href="{{ path('GetListAgency') }}">Liste agence</a></div>
   <div class="col-sm-4 testbleu"> <a href="{{ path('GetListAgencyDirector') }}">Liste directeur d'agence</a></div>
    <div class="col-sm-4 testbleu"><a href="{{ path('GetListAgent') }}">Liste agent</a></div>
   <div class="col-sm-4 testbleu"> <a href="{{ path('GetListAdmin') }}">Liste admin</a></div>
    </div>
</div>
</body>
</html>
