{% include 'includes/header.html.twig' %}
<div class="imageContainer">
    <div class="principale principaleProposition">
{% if possession.proposition.count > 0 %}
    {% for proposition in possession.proposition %}
        <div class="possessionPropositionDiv">
            <p>{{ possession.title }} : {{ proposition.getPrice() }} euros.</p>
            <button><a href="{{ path('proposition_createCounter', {'id': proposition.id}) }}">Faire une contre-proposition</a></button>
            <button><a href="{{ path('proposition_accept', {'id': proposition.id}) }}">Accepter cette offre</a></button>
            <button><a href="{{ path('proposition_deny', {'id': proposition.id}) }}">Refuser</a></button>
        </div>
    {% endfor %}
{% else %}
    <h2 class="noProposition">Il n'y a pas de proposition pour cette annonce !</h2>
{% endif %}
    </div>
</div>
{% include 'includes/footer.html.twig' %}
